In [3]:
import pandas as pd

In [4]:
dis_df = pd.read_csv('Datasets/pend-gdis-1960-2018-disasterlocations.csv')

In [5]:
temps_df = pd.read_csv('Datasets/Temperatures/GlobalTemperatures.csv')

In [6]:
pd.set_option('display.max_columns', 100)

In [7]:
dis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39953 entries, 0 to 39952
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            39953 non-null  object
 1   country       39953 non-null  object
 2   iso3          39638 non-null  object
 3   gwno          39519 non-null  float64
 4   year          39953 non-null  int64
 5   geo_id        39953 non-null  int64
 6   geolocation   39953 non-null  object
 7   level         39953 non-null  int64
 8   adm1          39953 non-null  object
 9   adm2          14070 non-null  object
 10  adm3          2410 non-null   object
 11  location      39953 non-null  object
 12  historical    39953 non-null  int64
 13  hist_country  236 non-null    object
 14  disastertype  39953 non-null  object
 15  disasterno    39953 non-null  object
 16  latitude      39953 non-null  float64
 17  longitude     39953 non-null  float64
dtypes: float64(3), int64(4), object(11)
memory usage: 5.5+ MB

In [11]:
dis_df.head()

,id,country,iso3,gwno,year,geo_id,geolocation,level,adm1,adm2,adm3,location,historical,hist_country,disastertype,disasterno,latitude,longitude
0,109,Albania,ALB,339.0,2009,346,Ana E Malit,3,Shkoder,Shkodres,Ana E Malit,Ana E Malit,0,NaN,flood,2009-0631,42.020948,19.418317
1,109,Albania,ALB,339.0,2009,351,Bushat,3,Shkoder,Shkodres,Bushat,Bushat,0,NaN,flood,2009-0631,41.959294,19.514309
2,175,Angola,AGO,540.0,2001,760,Onjiva,3,Cunene,Cuanhama,Onjiva,Onjiva,0,NaN,flood,2001-0146,-17.093484,15.665758
3,187,Angola,AGO,540.0,2009,710,Evale,3,Cunene,Cuanhama,Evale,Evale,0,NaN,flood,2009-0092,-16.531533,15.773987
4,187,Angola,AGO,540.0,2009,749,Mupa,3,Cunene,Cuvelai,Mupa,Mupa,0,NaN,flood,2009-0092,-16.200065,15.844189

## Disaster table cleaning

In [6]:
pd.get_dummies(dis_df.disastertype)

,drought,earthquake,extreme temperature,flood,landslide,mass movement (dry),storm,volcanic activity
0,0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0
3,0,0,0,1,0,0,0,0
4,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
39948,0,0,0,0,0,0,1,0
39949,0,0,0,0,0,0,1,0
39950,0,0,0,0,0,0,1,0
39951,0,0,0,0,0,0,1,0
39952,0,0,0,0,0,0,1,0

In [7]:
dis_extended = pd.get_dummies(dis_df, columns=['disastertype'])

In [8]:
disasters = dis_extended.drop(['adm1', 'adm2', 'adm3', 'geolocation', 'level', 'historical', 'hist_country', 'iso3', 'gwno', 'geo_id', 'location', 'disasterno', 'latitude', 'longitude'], axis=1)

In [9]:
disasters.set_index('id', drop=True, inplace=True)
disasters

,country,year,disastertype_drought,disastertype_earthquake,disastertype_extreme temperature,disastertype_flood,disastertype_landslide,disastertype_mass movement (dry),disastertype_storm,disastertype_volcanic activity
id,,,,,,,,,,
109,Albania,2009,0,0,0,1,0,0,0,0
109,Albania,2009,0,0,0,1,0,0,0,0
175,Angola,2001,0,0,0,1,0,0,0,0
187,Angola,2009,0,0,0,1,0,0,0,0
187,Angola,2009,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
Jun-94,Dominica,2015,0,0,0,0,0,0,1,0
Jun-94,Dominica,2015,0,0,0,0,0,0,1,0
Jun-94,Dominica,2015,0,0,0,0,0,0,1,0
Jun-94,Dominica,2015,0,0,0,0,0,0,1,0
Jun-94,Dominica,2015,0,0,0,0,0,0,1,0

In [10]:
disasters.drop_duplicates(inplace=True)

In [11]:
disasters.sort_values(by=['year', 'country'], inplace=True)
disasters

,country,year,disastertype_drought,disastertype_earthquake,disastertype_extreme temperature,disastertype_flood,disastertype_landslide,disastertype_mass movement (dry),disastertype_storm,disastertype_volcanic activity
id,,,,,,,,,,
112,Algeria,1960,0,1,0,0,0,0,0,0
433,Bangladesh,1960,0,0,0,0,0,0,1,0
1080,Chile,1960,0,1,0,0,0,0,0,0
01-576,Hong Kong,1960,0,0,0,1,0,0,0,0
01-577,Hong Kong,1960,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
02-706,Venezuela,2018,0,0,0,1,0,0,0,0
02-725,Vietnam,2018,0,0,0,1,0,0,0,0
02-727,Vietnam,2018,0,0,0,0,0,0,1,0
02-736,Yemen,2018,0,0,0,0,0,0,1,0
Feb-61,Zimbabwe,2018,0,0,0,1,0,0,0,0

In [12]:
dis_used = disasters.drop('country', axis=1)
dis_used = dis_used[dis_used['year'] <= 2015]
dis_used

,year,disastertype_drought,disastertype_earthquake,disastertype_extreme temperature,disastertype_flood,disastertype_landslide,disastertype_mass movement (dry),disastertype_storm,disastertype_volcanic activity
id,,,,,,,,,
112,1960,0,1,0,0,0,0,0,0
433,1960,0,0,0,0,0,0,1,0
1080,1960,0,1,0,0,0,0,0,0
01-576,1960,0,0,0,1,0,0,0,0
01-577,1960,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
7388,2015,0,0,0,1,0,0,0,0
06-303,2015,0,0,0,0,0,0,1,0
05-938,2015,1,0,0,0,0,0,0,0
06-305,2015,0,0,0,0,0,0,1,0
06-306,2015,0,0,0,0,0,0,1,0

In [13]:
dis_used = dis_used.groupby(by='year').sum()
dis_used

,disastertype_drought,disastertype_earthquake,disastertype_extreme temperature,disastertype_flood,disastertype_landslide,disastertype_mass movement (dry),disastertype_storm,disastertype_volcanic activity
year,,,,,,,,
1960,0,7,0,2,1,0,3,1
1961,0,1,0,2,1,0,5,0
1962,0,2,0,1,0,1,3,0
1963,0,2,0,2,1,1,6,2
1964,3,6,0,10,0,0,9,1
1965,2,5,0,7,5,0,9,0
1966,3,6,1,12,3,0,15,1
1967,2,7,0,13,2,0,7,0
1968,0,12,0,11,3,0,14,1
1969,5,7,0,10,1,0,10,1
1970,0,7,0,15,4,0,9,0
1971,0,4,0,9,4,1,10,2
1972,1,4,2,7,3,0,11,0
1973,2,3,2,11,2,0,11,1
1974,1,4,0,12,5,0,8,0
1975,0,3,1,10,2,0,12,1
1976,1,11,0,11,5,0,8,1
1977,3,9,0,21,2,0,16,4
1978,5,6,0,17,1,0,13,1
1979,5,11,2,13,6,0,9,2
1980,3,16,2,15,4,1,13,2
1981,5,8,0,17,3,0,20,1
1982,5,14,1,22,8,1,18,1
1983,11,17,1,21,7,3,17,3
1984,3,8,0,19,3,0,14,3
1985,2,15,1,27,2,2,20,3
1986,1,16,1,27,3,0,18,2
1987,8,11,3,30,8,1,23,1
1988,8,11,2,43,9,3,21,3
1989,5,10,1,26,7,0,17,1
1990,4,22,2,27,4,1,17,2
1991,5,19,2,35,7,2,20,7
1992,3,18,2,32,8,2,22,4
1993,3,12,2,44,15,3,34,4
1994,3,14,5,47,7,0,26,3
1995,4,15,10,48,12,0,26,2
1996,5,8,3,54,16,0,25,2
1997,13,14,4,51,10,0,25,3
1998,11,16,7,51,14,0,24,2
1999,15,18,4,63,8,0,27,4
2000,24,19,28,68,18,1,39,4
2001,20,15,19,78,12,0,41,5
2002,23,20,13,86,15,1,47,6
2003,13,16,23,79,15,0,32,2
2004,10,27,16,66,10,1,43,2
2005,17,15,24,84,10,0,52,7
2006,8,13,24,87,11,1,26,9
2007,10,15,23,86,7,0,40,5
2008,16,12,8,77,9,3,42,5
2009,18,14,19,81,17,1,34,2
2010,16,14,26,90,20,0,35,5
2011,16,19,12,74,12,0,31,4
2012,22,15,39,71,9,1,28,1
2013,9,15,14,77,7,1,31,3
2014,18,16,15,57,10,0,26,5
2015,23,14,10,82,13,1,46,4

## Temperature data cleaning

In [14]:
temps_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [15]:
temps_df.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
temperatures = temps_df.set_index('dt', drop=True)
temperatures

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
dt,,,,,,,,
1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [17]:
temp_used = temperatures['1960-01-01':]
temp_used

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
dt,,,,,,,,
1960-01-01,2.713,0.086,8.222,0.113,-2.623,0.085,13.553,0.067
1960-02-01,3.798,0.125,9.748,0.081,-1.920,0.274,13.956,0.070
1960-03-01,4.303,0.077,10.216,0.092,-1.677,0.084,14.145,0.066
1960-04-01,8.133,0.088,13.955,0.137,2.229,0.104,15.190,0.066
1960-05-01,10.872,0.156,16.710,0.256,5.044,0.235,15.956,0.079
...,...,...,...,...,...,...,...,...
2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [18]:
years = temp_used.index.str.split('-').values.tolist()
temp_date = pd.DataFrame(years, columns = ['year', 'month', 'day'])
temp_date.drop(['day'], axis=1, inplace=True)
temp_date

     year month
0    1960    01
1    1960    02
2    1960    03
3    1960    04
4    1960    05
..    ...   ...
667  2015    08
668  2015    09
669  2015    10
670  2015    11
671  2015    12

[672 rows x 2 columns]

In [19]:
temp_used = temp_used.reset_index()
temp_used.drop(['dt'], axis=1, inplace=True)
temp_used

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,2.713,0.086,8.222,0.113,-2.623,0.085,13.553,0.067
1,3.798,0.125,9.748,0.081,-1.920,0.274,13.956,0.070
2,4.303,0.077,10.216,0.092,-1.677,0.084,14.145,0.066
3,8.133,0.088,13.955,0.137,2.229,0.104,15.190,0.066
4,10.872,0.156,16.710,0.256,5.044,0.235,15.956,0.079
...,...,...,...,...,...,...,...,...
667,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
668,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
669,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
670,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
671,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [20]:
frames = [temp_date, temp_used]
temps = pd.concat(frames, axis=1)
temps

,year,month,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1960,01,2.713,0.086,8.222,0.113,-2.623,0.085,13.553,0.067
1,1960,02,3.798,0.125,9.748,0.081,-1.920,0.274,13.956,0.070
2,1960,03,4.303,0.077,10.216,0.092,-1.677,0.084,14.145,0.066
3,1960,04,8.133,0.088,13.955,0.137,2.229,0.104,15.190,0.066
4,1960,05,10.872,0.156,16.710,0.256,5.044,0.235,15.956,0.079
...,...,...,...,...,...,...,...,...,...,...
667,2015,08,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
668,2015,09,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
669,2015,10,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
670,2015,11,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
671,2015,12,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [21]:
temps = temps.groupby(by='year').mean()
temps

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
year,,,,,,,,
1960,8.583750,0.093500,14.317417,0.149417,2.932583,0.137583,15.291917,0.069333
1961,8.797667,0.097000,14.514917,0.165750,3.128750,0.181750,15.379917,0.067167
1962,8.745917,0.132917,14.540167,0.158917,3.008583,0.204417,15.325583,0.072500
1963,8.856000,0.092333,14.612250,0.152750,3.157583,0.182417,15.376667,0.068333
1964,8.409667,0.092500,14.156833,0.156333,2.768833,0.157000,15.117083,0.065167
1965,8.527417,0.108833,14.268417,0.184500,2.841417,0.195167,15.195750,0.067250
1966,8.599333,0.092250,14.325917,0.127250,2.899417,0.134083,15.264667,0.063667
1967,8.700083,0.083667,14.406500,0.125917,3.037083,0.151750,15.294167,0.059250
1968,8.516333,0.111667,14.164250,0.130583,2.857250,0.151500,15.263917,0.060167
1969,8.595083,0.085167,14.212083,0.151500,2.962917,0.195750,15.390500,0.055167
1970,8.700917,0.075583,14.403250,0.131833,3.042750,0.121667,15.332667,0.053250
1971,8.599250,0.097917,14.352750,0.149667,2.962250,0.158083,15.200000,0.056167
1972,8.499583,0.095333,14.164917,0.141417,2.844833,0.162083,15.292917,0.055833
1973,8.948250,0.100750,14.566000,0.131250,3.370167,0.120000,15.404750,0.054917
1974,8.467500,0.104500,14.081917,0.122667,2.900917,0.118583,15.168083,0.056250
1975,8.744833,0.097083,14.383667,0.133250,3.121083,0.127750,15.238667,0.055333
1976,8.347250,0.100583,14.008000,0.150750,2.734167,0.143083,15.131083,0.057417
1977,8.850250,0.084667,14.485500,0.125000,3.294583,0.142917,15.408250,0.053000
1978,8.692750,0.103833,14.281250,0.155833,3.170917,0.191750,15.300917,0.055500
1979,8.733417,0.086417,14.457750,0.155583,3.200083,0.167833,15.414167,0.047500
1980,8.980333,0.106667,14.672917,0.152583,3.404667,0.150083,15.491833,0.053667
1981,9.165833,0.087250,14.855167,0.138917,3.635917,0.147417,15.516167,0.052333
1982,8.639167,0.082667,14.300917,0.171000,3.239917,0.207083,15.341917,0.054750
1983,9.028167,0.094000,14.679833,0.114667,3.552417,0.124250,15.520250,0.055833
1984,8.691833,0.102583,14.342667,0.134083,3.186750,0.130333,15.344167,0.057167
1985,8.658000,0.093250,14.267167,0.119667,3.175667,0.105417,15.340667,0.053917
1986,8.833583,0.085000,14.516833,0.120500,3.319333,0.128250,15.384000,0.053250
1987,8.994417,0.085167,14.699833,0.110750,3.431417,0.144583,15.524500,0.053333
1988,9.201583,0.080083,14.890000,0.133667,3.654000,0.111500,15.555750,0.053250
1989,8.922000,0.088000,14.621500,0.111833,3.334333,0.129167,15.441583,0.055917
1990,9.234167,0.086333,14.957667,0.129833,3.658750,0.119750,15.629333,0.057250
1991,9.179417,0.062083,14.839583,0.101250,3.622167,0.105667,15.598000,0.055083
1992,8.836583,0.083333,14.471333,0.099000,3.263500,0.102500,15.453000,0.058167
1993,8.866583,0.081333,14.519750,0.078500,3.284583,0.106333,15.466417,0.059167
1994,9.038750,0.070917,14.729250,0.109250,3.396083,0.126750,15.535000,0.058583
1995,9.347083,0.076417,15.026417,0.132583,3.703500,0.158000,15.637833,0.060417
1996,9.038917,0.084750,14.737250,0.117917,3.381167,0.112417,15.524667,0.059500
1997,9.202583,0.088583,14.868000,0.120667,3.590167,0.111500,15.713833,0.059167
1998,9.522667,0.073917,15.169417,0.104750,3.949167,0.124917,15.826000,0.063000
1999,9.285083,0.079250,14.982750,0.096750,3.662333,0.113500,15.600333,0.063333
2000,9.201167,0.083500,14.898833,0.122667,3.581833,0.115417,15.610667,0.063500
2001,9.414583,0.087417,15.159167,0.103750,3.740667,0.120083,15.767500,0.064583
2002,9.570417,0.072417,15.312333,0.124083,3.864583,0.117167,15.829167,0.062917
2003,9.525583,0.090667,15.249333,0.113750,3.851583,0.126167,15.826583,0.064333
2004,9.324583,0.083417,15.018000,0.109083,3.664417,0.105917,15.757250,0.061250
2005,9.700917,0.075167,15.349833,0.113083,4.113833,0.112083,15.879250,0.060833
2006,9.532500,0.090000,15.262000,0.149583,3.864833,0.138333,15.813500,0.061000
2007,9.732167,0.089500,15.533083,0.128833,4.009250,0.137167,15.827333,0.059083
2008,9.431750,0.078917,15.191750,0.103500,3.724833,0.129833,15.721250,0.057250
2009,9.505250,0.085917,15.266583,0.107750,3.796917,0.126000,15.827167,0.058917
2010,9.703083,0.083417,15.449000,0.103417,4.023917,0.115667,15.895500,0.058583
2011,9.516000,0.082000,15.284833,0.114333,3.827667,0.136583,15.769500,0.059000
2012,9.507333,0.083417,15.332833,0.107333,3.756167,0.145333,15.802333,0.061500
2013,9.606500,0.097667,15.373833,0.115500,3.911333,0.149833,15.854417,0.064667
2014,9.570667,0.090167,15.313583,0.111667,3.877750,0.139000,15.913000,0.063167
2015,9.831000,0.092167,15.572667,0.106500,4.148833,0.141750,16.058583,0.060833

## Combine 2 data sets

In [22]:
temps

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
year,,,,,,,,
1960,8.583750,0.093500,14.317417,0.149417,2.932583,0.137583,15.291917,0.069333
1961,8.797667,0.097000,14.514917,0.165750,3.128750,0.181750,15.379917,0.067167
1962,8.745917,0.132917,14.540167,0.158917,3.008583,0.204417,15.325583,0.072500
1963,8.856000,0.092333,14.612250,0.152750,3.157583,0.182417,15.376667,0.068333
1964,8.409667,0.092500,14.156833,0.156333,2.768833,0.157000,15.117083,0.065167
1965,8.527417,0.108833,14.268417,0.184500,2.841417,0.195167,15.195750,0.067250
1966,8.599333,0.092250,14.325917,0.127250,2.899417,0.134083,15.264667,0.063667
1967,8.700083,0.083667,14.406500,0.125917,3.037083,0.151750,15.294167,0.059250
1968,8.516333,0.111667,14.164250,0.130583,2.857250,0.151500,15.263917,0.060167
1969,8.595083,0.085167,14.212083,0.151500,2.962917,0.195750,15.390500,0.055167
1970,8.700917,0.075583,14.403250,0.131833,3.042750,0.121667,15.332667,0.053250
1971,8.599250,0.097917,14.352750,0.149667,2.962250,0.158083,15.200000,0.056167
1972,8.499583,0.095333,14.164917,0.141417,2.844833,0.162083,15.292917,0.055833
1973,8.948250,0.100750,14.566000,0.131250,3.370167,0.120000,15.404750,0.054917
1974,8.467500,0.104500,14.081917,0.122667,2.900917,0.118583,15.168083,0.056250
1975,8.744833,0.097083,14.383667,0.133250,3.121083,0.127750,15.238667,0.055333
1976,8.347250,0.100583,14.008000,0.150750,2.734167,0.143083,15.131083,0.057417
1977,8.850250,0.084667,14.485500,0.125000,3.294583,0.142917,15.408250,0.053000
1978,8.692750,0.103833,14.281250,0.155833,3.170917,0.191750,15.300917,0.055500
1979,8.733417,0.086417,14.457750,0.155583,3.200083,0.167833,15.414167,0.047500
1980,8.980333,0.106667,14.672917,0.152583,3.404667,0.150083,15.491833,0.053667
1981,9.165833,0.087250,14.855167,0.138917,3.635917,0.147417,15.516167,0.052333
1982,8.639167,0.082667,14.300917,0.171000,3.239917,0.207083,15.341917,0.054750
1983,9.028167,0.094000,14.679833,0.114667,3.552417,0.124250,15.520250,0.055833
1984,8.691833,0.102583,14.342667,0.134083,3.186750,0.130333,15.344167,0.057167
1985,8.658000,0.093250,14.267167,0.119667,3.175667,0.105417,15.340667,0.053917
1986,8.833583,0.085000,14.516833,0.120500,3.319333,0.128250,15.384000,0.053250
1987,8.994417,0.085167,14.699833,0.110750,3.431417,0.144583,15.524500,0.053333
1988,9.201583,0.080083,14.890000,0.133667,3.654000,0.111500,15.555750,0.053250
1989,8.922000,0.088000,14.621500,0.111833,3.334333,0.129167,15.441583,0.055917
1990,9.234167,0.086333,14.957667,0.129833,3.658750,0.119750,15.629333,0.057250
1991,9.179417,0.062083,14.839583,0.101250,3.622167,0.105667,15.598000,0.055083
1992,8.836583,0.083333,14.471333,0.099000,3.263500,0.102500,15.453000,0.058167
1993,8.866583,0.081333,14.519750,0.078500,3.284583,0.106333,15.466417,0.059167
1994,9.038750,0.070917,14.729250,0.109250,3.396083,0.126750,15.535000,0.058583
1995,9.347083,0.076417,15.026417,0.132583,3.703500,0.158000,15.637833,0.060417
1996,9.038917,0.084750,14.737250,0.117917,3.381167,0.112417,15.524667,0.059500
1997,9.202583,0.088583,14.868000,0.120667,3.590167,0.111500,15.713833,0.059167
1998,9.522667,0.073917,15.169417,0.104750,3.949167,0.124917,15.826000,0.063000
1999,9.285083,0.079250,14.982750,0.096750,3.662333,0.113500,15.600333,0.063333
2000,9.201167,0.083500,14.898833,0.122667,3.581833,0.115417,15.610667,0.063500
2001,9.414583,0.087417,15.159167,0.103750,3.740667,0.120083,15.767500,0.064583
2002,9.570417,0.072417,15.312333,0.124083,3.864583,0.117167,15.829167,0.062917
2003,9.525583,0.090667,15.249333,0.113750,3.851583,0.126167,15.826583,0.064333
2004,9.324583,0.083417,15.018000,0.109083,3.664417,0.105917,15.757250,0.061250
2005,9.700917,0.075167,15.349833,0.113083,4.113833,0.112083,15.879250,0.060833
2006,9.532500,0.090000,15.262000,0.149583,3.864833,0.138333,15.813500,0.061000
2007,9.732167,0.089500,15.533083,0.128833,4.009250,0.137167,15.827333,0.059083
2008,9.431750,0.078917,15.191750,0.103500,3.724833,0.129833,15.721250,0.057250
2009,9.505250,0.085917,15.266583,0.107750,3.796917,0.126000,15.827167,0.058917
2010,9.703083,0.083417,15.449000,0.103417,4.023917,0.115667,15.895500,0.058583
2011,9.516000,0.082000,15.284833,0.114333,3.827667,0.136583,15.769500,0.059000
2012,9.507333,0.083417,15.332833,0.107333,3.756167,0.145333,15.802333,0.061500
2013,9.606500,0.097667,15.373833,0.115500,3.911333,0.149833,15.854417,0.064667
2014,9.570667,0.090167,15.313583,0.111667,3.877750,0.139000,15.913000,0.063167
2015,9.831000,0.092167,15.572667,0.106500,4.148833,0.141750,16.058583,0.060833

In [23]:
dis_used

,disastertype_drought,disastertype_earthquake,disastertype_extreme temperature,disastertype_flood,disastertype_landslide,disastertype_mass movement (dry),disastertype_storm,disastertype_volcanic activity
year,,,,,,,,
1960,0,7,0,2,1,0,3,1
1961,0,1,0,2,1,0,5,0
1962,0,2,0,1,0,1,3,0
1963,0,2,0,2,1,1,6,2
1964,3,6,0,10,0,0,9,1
1965,2,5,0,7,5,0,9,0
1966,3,6,1,12,3,0,15,1
1967,2,7,0,13,2,0,7,0
1968,0,12,0,11,3,0,14,1
1969,5,7,0,10,1,0,10,1
1970,0,7,0,15,4,0,9,0
1971,0,4,0,9,4,1,10,2
1972,1,4,2,7,3,0,11,0
1973,2,3,2,11,2,0,11,1
1974,1,4,0,12,5,0,8,0
1975,0,3,1,10,2,0,12,1
1976,1,11,0,11,5,0,8,1
1977,3,9,0,21,2,0,16,4
1978,5,6,0,17,1,0,13,1
1979,5,11,2,13,6,0,9,2
1980,3,16,2,15,4,1,13,2
1981,5,8,0,17,3,0,20,1
1982,5,14,1,22,8,1,18,1
1983,11,17,1,21,7,3,17,3
1984,3,8,0,19,3,0,14,3
1985,2,15,1,27,2,2,20,3
1986,1,16,1,27,3,0,18,2
1987,8,11,3,30,8,1,23,1
1988,8,11,2,43,9,3,21,3
1989,5,10,1,26,7,0,17,1
1990,4,22,2,27,4,1,17,2
1991,5,19,2,35,7,2,20,7
1992,3,18,2,32,8,2,22,4
1993,3,12,2,44,15,3,34,4
1994,3,14,5,47,7,0,26,3
1995,4,15,10,48,12,0,26,2
1996,5,8,3,54,16,0,25,2
1997,13,14,4,51,10,0,25,3
1998,11,16,7,51,14,0,24,2
1999,15,18,4,63,8,0,27,4
2000,24,19,28,68,18,1,39,4
2001,20,15,19,78,12,0,41,5
2002,23,20,13,86,15,1,47,6
2003,13,16,23,79,15,0,32,2
2004,10,27,16,66,10,1,43,2
2005,17,15,24,84,10,0,52,7
2006,8,13,24,87,11,1,26,9
2007,10,15,23,86,7,0,40,5
2008,16,12,8,77,9,3,42,5
2009,18,14,19,81,17,1,34,2
2010,16,14,26,90,20,0,35,5
2011,16,19,12,74,12,0,31,4
2012,22,15,39,71,9,1,28,1
2013,9,15,14,77,7,1,31,3
2014,18,16,15,57,10,0,26,5
2015,23,14,10,82,13,1,46,4

In [24]:
dis_used.reset_index(inplace=True)
dis_used.head()

,year,disastertype_drought,disastertype_earthquake,disastertype_extreme temperature,disastertype_flood,disastertype_landslide,disastertype_mass movement (dry),disastertype_storm,disastertype_volcanic activity
0,1960,0,7,0,2,1,0,3,1
1,1961,0,1,0,2,1,0,5,0
2,1962,0,2,0,1,0,1,3,0
3,1963,0,2,0,2,1,1,6,2
4,1964,3,6,0,10,0,0,9,1

In [26]:
temps.reset_index(inplace=True)
temps.head()

,year,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1960,8.583750,0.093500,14.317417,0.149417,2.932583,0.137583,15.291917,0.069333
1,1961,8.797667,0.097000,14.514917,0.165750,3.128750,0.181750,15.379917,0.067167
2,1962,8.745917,0.132917,14.540167,0.158917,3.008583,0.204417,15.325583,0.072500
3,1963,8.856000,0.092333,14.612250,0.152750,3.157583,0.182417,15.376667,0.068333
4,1964,8.409667,0.092500,14.156833,0.156333,2.768833,0.157000,15.117083,0.065167

In [29]:
temps.year=temps.year.astype(int)

In [30]:
global_data = dis_used.merge(temps, on='year')
global_data

,year,disastertype_drought,disastertype_earthquake,disastertype_extreme temperature,disastertype_flood,disastertype_landslide,disastertype_mass movement (dry),disastertype_storm,disastertype_volcanic activity,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1960,0,7,0,2,1,0,3,1,8.583750,0.093500,14.317417,0.149417,2.932583,0.137583,15.291917,0.069333
1,1961,0,1,0,2,1,0,5,0,8.797667,0.097000,14.514917,0.165750,3.128750,0.181750,15.379917,0.067167
2,1962,0,2,0,1,0,1,3,0,8.745917,0.132917,14.540167,0.158917,3.008583,0.204417,15.325583,0.072500
3,1963,0,2,0,2,1,1,6,2,8.856000,0.092333,14.612250,0.152750,3.157583,0.182417,15.376667,0.068333
4,1964,3,6,0,10,0,0,9,1,8.409667,0.092500,14.156833,0.156333,2.768833,0.157000,15.117083,0.065167
5,1965,2,5,0,7,5,0,9,0,8.527417,0.108833,14.268417,0.184500,2.841417,0.195167,15.195750,0.067250
6,1966,3,6,1,12,3,0,15,1,8.599333,0.092250,14.325917,0.127250,2.899417,0.134083,15.264667,0.063667
7,1967,2,7,0,13,2,0,7,0,8.700083,0.083667,14.406500,0.125917,3.037083,0.151750,15.294167,0.059250
8,1968,0,12,0,11,3,0,14,1,8.516333,0.111667,14.164250,0.130583,2.857250,0.151500,15.263917,0.060167
9,1969,5,7,0,10,1,0,10,1,8.595083,0.085167,14.212083,0.151500,2.962917,0.195750,15.390500,0.055167
10,1970,0,7,0,15,4,0,9,0,8.700917,0.075583,14.403250,0.131833,3.042750,0.121667,15.332667,0.053250
11,1971,0,4,0,9,4,1,10,2,8.599250,0.097917,14.352750,0.149667,2.962250,0.158083,15.200000,0.056167
12,1972,1,4,2,7,3,0,11,0,8.499583,0.095333,14.164917,0.141417,2.844833,0.162083,15.292917,0.055833
13,1973,2,3,2,11,2,0,11,1,8.948250,0.100750,14.566000,0.131250,3.370167,0.120000,15.404750,0.054917
14,1974,1,4,0,12,5,0,8,0,8.467500,0.104500,14.081917,0.122667,2.900917,0.118583,15.168083,0.056250
15,1975,0,3,1,10,2,0,12,1,8.744833,0.097083,14.383667,0.133250,3.121083,0.127750,15.238667,0.055333
16,1976,1,11,0,11,5,0,8,1,8.347250,0.100583,14.008000,0.150750,2.734167,0.143083,15.131083,0.057417
17,1977,3,9,0,21,2,0,16,4,8.850250,0.084667,14.485500,0.125000,3.294583,0.142917,15.408250,0.053000
18,1978,5,6,0,17,1,0,13,1,8.692750,0.103833,14.281250,0.155833,3.170917,0.191750,15.300917,0.055500
19,1979,5,11,2,13,6,0,9,2,8.733417,0.086417,14.457750,0.155583,3.200083,0.167833,15.414167,0.047500
20,1980,3,16,2,15,4,1,13,2,8.980333,0.106667,14.672917,0.152583,3.404667,0.150083,15.491833,0.053667
21,1981,5,8,0,17,3,0,20,1,9.165833,0.087250,14.855167,0.138917,3.635917,0.147417,15.516167,0.052333
22,1982,5,14,1,22,8,1,18,1,8.639167,0.082667,14.300917,0.171000,3.239917,0.207083,15.341917,0.054750
23,1983,11,17,1,21,7,3,17,3,9.028167,0.094000,14.679833,0.114667,3.552417,0.124250,15.520250,0.055833
24,1984,3,8,0,19,3,0,14,3,8.691833,0.102583,14.342667,0.134083,3.186750,0.130333,15.344167,0.057167
25,1985,2,15,1,27,2,2,20,3,8.658000,0.093250,14.267167,0.119667,3.175667,0.105417,15.340667,0.053917
26,1986,1,16,1,27,3,0,18,2,8.833583,0.085000,14.516833,0.120500,3.319333,0.128250,15.384000,0.053250
27,1987,8,11,3,30,8,1,23,1,8.994417,0.085167,14.699833,0.110750,3.431417,0.144583,15.524500,0.053333
28,1988,8,11,2,43,9,3,21,3,9.201583,0.080083,14.890000,0.133667,3.654000,0.111500,15.555750,0.053250
29,1989,5,10,1,26,7,0,17,1,8.922000,0.088000,14.621500,0.111833,3.334333,0.129167,15.441583,0.055917
30,1990,4,22,2,27,4,1,17,2,9.234167,0.086333,14.957667,0.129833,3.658750,0.119750,15.629333,0.057250
31,1991,5,19,2,35,7,2,20,7,9.179417,0.062083,14.839583,0.101250,3.622167,0.105667,15.598000,0.055083
32,1992,3,18,2,32,8,2,22,4,8.836583,0.083333,14.471333,0.099000,3.263500,0.102500,15.453000,0.058167
33,1993,3,12,2,44,15,3,34,4,8.866583,0.081333,14.519750,0.078500,3.284583,0.106333,15.466417,0.059167
34,1994,3,14,5,47,7,0,26,3,9.038750,0.070917,14.729250,0.109250,3.396083,0.126750,15.535000,0.058583
35,1995,4,15,10,48,12,0,26,2,9.347083,0.076417,15.026417,0.132583,3.703500,0.158000,15.637833,0.060417
36,1996,5,8,3,54,16,0,25,2,9.038917,0.084750,14.737250,0.117917,3.381167,0.112417,15.524667,0.059500
37,1997,13,14,4,51,10,0,25,3,9.202583,0.088583,14.868000,0.120667,3.590167,0.111500,15.713833,0.059167
38,1998,11,16,7,51,14,0,24,2,9.522667,0.073917,15.169417,0.104750,3.949167,0.124917,15.826000,0.063000
39,1999,15,18,4,63,8,0,27,4,9.285083,0.079250,14.982750,0.096750,3.662333,0.113500,15.600333,0.063333
40,2000,24,19,28,68,18,1,39,4,9.201167,0.083500,14.898833,0.122667,3.581833,0.115417,15.610667,0.063500
41,2001,20,15,19,78,12,0,41,5,9.414583,0.087417,15.159167,0.103750,3.740667,0.120083,15.767500,0.064583
42,2002,23,20,13,86,15,1,47,6,9.570417,0.072417,15.312333,0.124083,3.864583,0.117167,15.829167,0.062917
43,2003,13,16,23,79,15,0,32,2,9.525583,0.090667,15.249333,0.113750,3.851583,0.126167,15.826583,0.064333
44,2004,10,27,16,66,10,1,43,2,9.324583,0.083417,15.018000,0.109083,3.664417,0.105917,15.757250,0.061250
45,2005,17,15,24,84,10,0,52,7,9.700917,0.075167,15.349833,0.113083,4.113833,0.112083,15.879250,0.060833
46,2006,8,13,24,87,11,1,26,9,9.532500,0.090000,15.262000,0.149583,3.864833,0.138333,15.813500,0.061000
47,2007,10,15,23,86,7,0,40,5,9.732167,0.089500,15.533083,0.128833,4.009250,0.137167,15.827333,0.059083
48,2008,16,12,8,77,9,3,42,5,9.431750,0.078917,15.191750,0.103500,3.724833,0.129833,15.721250,0.057250
49,2009,18,14,19,81,17,1,34,2,9.505250,0.085917,15.266583,0.107750,3.796917,0.126000,15.827167,0.058917
50,2010,16,14,26,90,20,0,35,5,9.703083,0.083417,15.449000,0.103417,4.023917,0.115667,15.895500,0.058583
51,2011,16,19,12,74,12,0,31,4,9.516000,0.082000,15.284833,0.114333,3.827667,0.136583,15.769500,0.059000
52,2012,22,15,39,71,9,1,28,1,9.507333,0.083417,15.332833,0.107333,3.756167,0.145333,15.802333,0.061500
53,2013,9,15,14,77,7,1,31,3,9.606500,0.097667,15.373833,0.115500,3.911333,0.149833,15.854417,0.064667
54,2014,18,16,15,57,10,0,26,5,9.570667,0.090167,15.313583,0.111667,3.877750,0.139000,15.913000,0.063167
55,2015,23,14,10,82,13,1,46,4,9.831000,0.092167,15.572667,0.106500,4.148833,0.141750,16.058583,0.060833

In [31]:
global_data.to_csv('global_disaster_vs_temps.csv', index=False)